<%= decidim_form_for(@preview_form, url: participatory_texts_path, class: "form grid-container") do |form| %>
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <%= render partial: "bulk-actions" %>
    </h2>
  </div>
  <div class="card-section">
    <% if @drafts.any? %>
      <p><%= t(".info_1") %></p>
      <ul id="participatory-text" class="accordion js-sortable mb-m"
        data-accordion
        data-multi-expand="true"
        data-allow-all-closed="true">
        <%= form.fields_for(:proposals) do |prop_form| %>
        <% proposal= @drafts[prop_form.index] %>
          <li class="accordion-item <%= proposal.article? ? "is-active" : nil %>" data-accordion-item>
            <a href="#" class="accordion-title flex--sbc">
              <%= preview_participatory_text_section_title(proposal) %>
              <span class="mr-m"><%= icon "menu", class: "icon--small", role: "img", "aria-hidden": true %></span>
            </a>
            <div class="accordion-content" data-tab-content>
              <span class="mr-m"><%= prop_form.check_box :is_interactive, label: t("decidim.admin.participatory_texts.is_interactive") %></span>
              <%= render "article-preview", { form: prop_form, proposal: proposal } %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end -%>
  </div>
</div>
<% if @drafts.any? %>
  <div class="button--double form-general-submit">
    <%= form.submit t(".save_draft"), name: :save_draft, class: "button" %>
    <%= form.submit t(".publish_document"), class: "button success" %>
  </div>
<% end %>
<% end -%>
<script>
$(window).on("load", function() {
  // Not all browsers submit the buttons as form data.
  $('button[name="save_draft"]').on("click", function(ev) {
    ev.preventDefault();

    var $form = $(this).parents("form");
    $form.append('<input type="hidden" name="save_draft" value="true" />');
    $form.submit();
  });
  $( "#participatory-text" ).on( "sortupdate",
    function( event, ui ) {
      $('#participatory-text li').each(function(idx, li) {
        input= $(li).find("input.position").val(idx+1)
      })
    }
  )
})
</script>
