.card__animation {
  animation: slidein 0.5s;
  transition: opacity 0.5s, transform 0.4s, box-shadow 0.3s;
}

.card__animation:hover {
  transform: scale(1.05);
  transition: transform 0.2s, box-shadow 0.2s;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proposals_card_footer {
  display: flex;
  flex-direction: column;
}

.progress__bar__number {
  font-weight: 600;
}

.progress__bar__coment_number {
  color: #726a70;
}

.progress__bar__coment {
  color: #726a70;
  font-size: 1rem !important;
}
.card__header {
  overflow: hidden;
}
