<%= content_tag :div, id: node_id, data: { decidim_comments: comments_data } do %>
  <% unless comments_blocked? && comments_count == 0 %>
  <div class="columns large-9 comments-meeting" id="comments">
    <div class="comments-new">
      <div class="comments-header meeting">
          <% if single_comment? %>
          <% else %>
            <h3 class="br-comments-count">
            <%= comments_count %>
            <%= t("activemodel.models.decidim/comments/comment_created_event", count: comments_count) %>
            </h3>
          <% end %>
        <%= render :order_control %>
      </div>
      <%= single_comment_warning %>
      <%= blocked_comments_warning %>
      <div class="comment-threads meeting">
        <%= comments_loading %>
        <% comments.each do |comment| %>
          <%= cell("decidim/comments/comment_thread", comment, order: order) %>
        <% end %>
      </div>
      <% if options.try(:[], :hide_comment_action) && current_user.present? %>
        <span class="message-title"><%= options[:alert] %></span>
        <a target="_blank" href=<%= options[:poll_link] %>> <%= t("decidim.forms.incomplete_profile") %></a>
      <% else %>
        <%= add_comment %>
      <% end %>
      <%= user_comments_blocked_warning %>


      <%if comments_blocked? %>

        <p class="comments_blocked_warning">Contribuições bloqueadas</p>

      <% end %>

    </div>
    <div class="callout primary loading-comments hide meeting">
      <p><%= t("activemodel.models.decidim/comments/comment_created_event")%></p>
    </div>
  </div>
  <% end %>
<% end %>
