<%= content_tag :div, id: "comment_#{model.id}", class: comment_classes, data: { depth: model.depth, comment_id: model.id, toggler: ".no-comments" } do %>
  <% if model.hidden? %>
    <%= render :moderation_data %>
  <% elsif model.deleted? %>
    <%= render :deletion_data %>
  <% else %>
    <div class="comment__header">
      <div class="author-data">
        <div class="author-data__main">
          <%= render :author %>
          <span>
            <%= time_tag created_at, l(created_at, format: :decidim_short) %>
          </span>
          <% if edited? %>
            <div class="author-data__extra">
              <span class="comment__edited">
                <%= t("decidim.components.comment.edited") %>
              </span>
            </div>
          <% end %>


          <%if model.status == "in_discussion"%>
            <% accepted_icon = "" %>
            <% rejected_icon = "" %>
            <span class="br-tag status bg-warning" aria-describedby="tag-status-01"></span><span class="ml-1" id="tag-status-02">Em discussão</span>
          <%elsif model.status == "rejected"%>
            <% accepted_icon = "" %>
            <% rejected_icon = "<i class='fa-solid fa-check comment_check'></i>" %>
            <span class="br-tag status bg-danger" aria-describedby="tag-status-01"></span><span class="ml-1" id="tag-status-01">Não incorporado</span>
          <%else%>
            <% accepted_icon = "<i class='fa-solid fa-check comment_check'></i>" %>
            <% rejected_icon = "" %>
            <span class="br-tag status bg-success" aria-describedby="tag-status-01"></span><span class="ml-1" id="tag-status-03">Incorporado</span>
          <% end %>



        </div>
      </div>
      <%= render :utilities %>
    </div>
    <div class="comment__content">
      <%= alignment_badge %>
      <%= comment_body %>
    </div>
    <div class="comment__footer">
      <%= render :actions %>


      
      <div class="comment__footer_votes">
        <% if current_user.present? && current_user.admin %>
          <div>
            <div class="d-flex align-items-center feedback-buttons">
                <%= button_to "Rejeitar".html_safe, update_comment_status_path(id: model.id, status: "rejected"), method: :patch,remote: true,id:"tag04", class:"br-button reject-button #{'selected' if model.status == 'rejected'}" %>
                <%= button_to "Incorporar".html_safe, update_comment_status_path(id: model.id, status: "accepted"), method: :patch,remote: true,id:"tag04", class:"br-button accept-button #{'selected' if model.status == 'accepted'}" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id="comment-<%= model.id %>-replies" class="replies">
    <% if has_replies_in_children? %>
      <% replies.each do |reply| %>
        <%= cell("decidim/comments/comment", reply, root_depth: root_depth, order: order, reloaded: reloaded?) %>
      <% end %>
    <% end %>
  </div>
  <% if can_reply? %>
    <div class="comment__additionalreply<%= " hide" %> replies">
      <button class="comment__reply muted-link" aria-controls="<%= reply_id %>" data-toggle="<%= reply_id %>">
        <%= icon "pencil", class: "icon--small", role: "img", "aria-hidden": true %>&nbsp;<%= t("decidim.components.comment.reply") %>
      </button>
    </div>
    <div class="add-comment hide" id="<%= reply_id %>" data-toggler=".hide">
      <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order) %>
    </div>
  <% end %>
<% end %>
